html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    width: 100%;
    background-color: rgba(155, 147, 127, 0.575);
}

header{
    background-color: rgb(154, 198, 199);
    height: 150px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.534);
    display: flex;
    justify-content: space-between;
    opacity: 95%;
}

h1{
    font-size: large;
    width: 150px;
    text-align: center;
    //background-color: rgba(197, 197, 41, 0.767);
    border: 3px solid black;
    border-radius: 3px;
}

#titleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#libraryImg{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 120px;
}
p{
    text-align: center;
}

@media (max-width: 400px){
    #libraryImg{
        width: 80px;
        height: 80px;
    }
    h1{
        width: 120px;
    }

    p{
        text-align: center;
    }
}


#addBtn{
    width: 50px;
    background-color: aquamarine;
    border: 1px solid rgba(154, 198, 199);
    border-radius: 30%;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
                3px 3px 5px rgba(0, 0, 0, .5);
    padding: 10px;
    background-color: rgb(154, 198, 199);
    transition: 300ms;
}


#addBtn:hover{
    //background-color: rgba(250, 224, 78, 0.575);
    transition: 50ms;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
                 3px 3px 5px rgba(0, 0, 0, .5),
                inset -3px -3px 3px rgba(255, 255, 255, 0.5),
                inset  3px 3px 3px rgba(0, 0, 0, .5);
}



#addBook{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    background: none;
    border: none;
}

.form{
    background: gray;    
    padding:  10px;
    border: 2px solid aquamarine;
    border-radius: 8px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#form{
    transition: 300ms;
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%) scale(0);
    width: 300px;
    background-color: rgba(71, 144, 192, 0.918);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 0px 7px 2px black;
    z-index: 10;
}

#form.active{
    transform: translate(-50%, -50%) scale(1);
    
}

.input{
    border-radius: 5px;
    box-shadow: inset 0px -1px 2px 1px rgb(71, 155, 38);
}

#submitBtn{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px black ;
    opacity: 90%;
}

#submitBtn:hover{
    box-shadow: inset 1px 0 3px 0px rgba(0, 0, 0, 0.527);
}

#submitBtn:active{
    box-shadow: inset 1px 0 3px 2px rgba(0, 0, 0, 0.534)
}
#readDiv{
    width: 55%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: yellow;
    opacity: 90%;
    box-shadow: 0px 0px 2px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

#noReadDiv{
    width: 55%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: yellow;
    opacity: 90%;
    box-shadow: 0px 0px 2px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;

}

#modalForm{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:  1px solid black;
    border-radius:  8px;
    z-index: 10;
    background-color: green;
    width: 400px;
    max-width: 50%;
    padding: 10px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.541);
    width: 100%;
    text-align: end;
    opacity: 80%;
}

.didReadImg{
    width: .8em;
    align-items: center;
    align-content: center;
    transform: translate(0, 20%); 
    
}

#container{
    //background-color: rgb(245, 152, 141);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookDiv{
    transition: 500ms;
    flex-basis: 250px;
    max-height: 250px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: .7em;
    padding-left: 10px;
    padding-right: 10px;
    width: 28%;
    background-color: rgba(128, 21, 128, 0.849);
    padding-bottom: 1em;
    border: 1px solid rgba(230, 230, 55, 0.808);
    border-radius: 10px;
    box-shadow: 3px 3px 10px black,
                inset 2px 4px 10px 1px rgba(255, 255, 255, 0.828);
}

.bookDiv h3{
    background-color: rgb(169, 243, 169);
    left: 10px;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.bookDiv h3 img{
    
}


#removeBtn{
    background-color: rgb(212, 122, 253);
    margin-left: 200px;
    padding-top: 3px;
    border: 2px solid purple;
    border-radius: 50%; 
    box-shadow: inset 1px 1px 5px 0 rgba(255, 255, 255, 0.788);
}

.removeImgBtn{
    width: 20px;
}

#removeBtn:hover{
    box-shadow: inset 1px 2px 2px .5px rgba(0, 0, 0, 0.555);
    transition: 70ms;
}

#removeBtn:active{
    box-shadow: inset 1px 2px 4px 1px black;
}